# Modèle pour les variables d'environnement
# Copiez ce fichier vers .env et remplacez par vos vraies valeurs

# Configuration de la base de données
POSTGRES_USER=votre_utilisateur
POSTGRES_PASSWORD=votre_mot_de_passe
POSTGRES_DB=nom_de_la_bdd

# Configuration du Gateway
PORT=8080
